<div class="p-3 bg-white center rounded shadow-md card--z-5 card-requimtto">
    <div class="row justify-content-center">
      <div class="col-12 mt-4">
        <div class="row justify-content-center mb-5 mt-5">
          <div class="col-5 offset-sm-2">
            <div class="row justify-content-end">
                <div class="col-6">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Estación</label>
                        </div>
                        <select class="custom-select" [(ngModel)]="selectedStation" (change)="changeStation()" [disabled]="fillingCMs">
                          <option *ngFor="let station of stations" value="{{station.pkstation}}" [selected]="stationCookie == station.pkstation">
                            {{station.stationName}}
                          </option>
                        </select>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label style="font-size: 15pt;">PALLET</mat-label>
                            <input matInput [(ngModel)]="pallet" id="txtPallet" style="font-size: 13pt;" placeholder="Escanea pallet" (change)="validatePallet()" 
                            (drop)="clearField($event)" autocomplete="off" (keypress)="clearField($event)" (paste)="clearField($event)" [readonly]="palletFine">
                            <mat-icon matSuffix>vpn_key</mat-icon>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-warning btn-sm mt-3" title="Limpiar campos" (click)="clearFields()" [hidden]="!palletFine">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
                <div class="col-1">
                  <i class="fas fa-check-circle" style="color: #41d075; font-size: 28pt; margin-top: 11px;" [hidden]="!palletFine"></i>
                </div>
            </div>
            <div class="row justify-content-start" [hidden]="!palletFine">
              <div class="col-12">
                <div class="row justify-content-start">
                  <div class="col-6 justify-content-start" style="text-align: left;">
                    <label style="text-align: left; margin-left: 2px;">Contramascaras {{currentCM}} de {{inputsCM.length}}</label>
                  </div>
                </div>
                <div *ngFor="let v of inputsCM" class="row">
                  <div class="col-11" [hidden]="inputsCMHidden[v]">
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div class="input-group mb-3" >
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">{{(v+1)}}</span>
                          </div>
                          <input  type="text" class="form-control" placeholder="Contramascara" id="txtCounterMask_{{v}}" (drop)="clearFieldCM(v)" [readonly]="inputsCMFine[v]"
                          autocomplete="off" (keypress)="clearFieldCM(v)" (paste)="clearFieldCM(v)" [(ngModel)]="ngModelCM[v]" (change)="validateCounterMask(v)" >
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-start mt-n3 mb-2">
                      <div class="col-11" style="text-align: left;" [hidden]="!inputsCMFine[v]">
                        <mat-hint style="font-size: 9pt; color:#84878a;">&nbsp;Pasadas actuales: <b>{{arrayCounterMaskCurrentPasses[v]}}</b>&nbsp;&nbsp;Pasadas para mtto: <b>{{arrayCounterMaskPassesToMaintenance[v]}}</b></mat-hint>
                      </div>
                    </div>
                  </div>
                  <div class="col-1" [hidden]="!inputsCMFine[v]">
                    <i class="fas fa-check-circle" style="color: #41d075; font-size: 20pt; margin-top: 5px; margin-left: -20px;" ></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start" [hidden]="serialDivHidden">
                <div class="col-11">
                    <div class="input-group mt-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">SERIAL</span>
                      </div>
                      <input  type="text" class="form-control" placeholder="Serial number" id="txtSerial" (drop)="clearFieldSerial()" [readonly]="serialFine  || serialReadonly"
                      autocomplete="off" (keypress)="clearFieldSerial()" (paste)="clearFieldSerial()" [(ngModel)]="serial" (change)="validateSerial()" >
                    </div>
                </div>
                <div class="col-1" [hidden]="!serialFine">
                  <i class="fas fa-check-circle" style="color: #41d075; font-size: 20pt; margin-top: 5px; margin-left: -20px;" ></i>
                </div>
            </div>
            <div class="row justify-content-start mt-4" [hidden]="alertShow == 'none'">
              <div class="col-11">
                <div role="alert" [class]="panelClass">
                  <span [hidden]="alertShow != 'error'">El serial se encuentra en una estacion incorrecta:<br> {{stationWrong}}</span>
                  <span [hidden]="alertShow != 'success'">{{palletResponse}}</span>
                </div>
              </div>
          </div>
          </div>
          <div class="col-2 justify-content-center mt-3">
            <img class="img-employee ml-3 " [src]="imgSrc">
          </div>
        </div>
      </div>
    </div>
</div>
