<div class="p-3 bg-white center rounded shadow-md card--z-5 card-tooling">
    <mat-tab-group>
        <mat-tab label="AGREGAR NUEVO">
          <h3>Nuevo herramental</h3>
          <app-add-new-tooling></app-add-new-tooling>
        </mat-tab>
        <mat-tab label="EXISTENTES">
            <h3>Herramentales</h3>
        </mat-tab>
        <mat-tab label="SOLICITUDES DE MANTENIMIENTO">
            <h3>Solicitudes en proceso</h3>
        </mat-tab>
        <mat-tab label="ENTRADAS/SALIDAS">
            <h3>Entrada y salida de herramentales</h3>
        </mat-tab>
      </mat-tab-group>
    
</div>
<script type="text/javascript">
    window.onload="myFunction()";
    function myFunction(){
        document.getElementById("xd").selectedIndex = 0;
    }
    
    </script>