.card-tooling{
    align-items: center;
    margin-left:auto; 
    margin-right:auto; 
    margin-top: 1%; 
    width: 90%;
}

/* Styles for tab labels */
.mat-tab-label {
    color: black;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    font-weight: 600;
    color: black;

}

/* Styles for the ink bar */
