<div class="p-3 bg-white center rounded shadow-md card--z-5 card-tooling">
    <mat-tab-group>
        <mat-tab label="AGREGAR NUEVO">
          <h2>Nuevo herramental</h2>
          <app-add-new-tooling></app-add-new-tooling>
        </mat-tab>
        <mat-tab label="EXISTENTES">
            <h2>Herramentales</h2>
        </mat-tab>
        <mat-tab label="SOLICITUDES DE MANTENIMIENTO">
            <h2>Solicitudes en proceso</h2>
        </mat-tab>
        <mat-tab label="ENTRADAS/SALIDAS">
            <h2>Entrada y salida de herramentales</h2>
        </mat-tab>
      </mat-tab-group>
    
</div>