<div class="p-3 bg-white center rounded shadow-md card--z-5 card-stations">
  <div class="row justify-content-around pt-4">
      <div class="col-11">
          <div class="row justify-content-end">
              <div class="col-2 mt-1 pb-2">
                  <button (click)="openStationModalEmpty(template)" class="btn btn-success btn-md ">   
                      <span class="content"><i class="fas fa-plus"></i> Agregar Estación</span>
                    </button>
              </div>
              <div class="offset-md-2 col-3 mt-1">
                    <mat-form-field>
                        <mat-label><i class="fas fa-search"></i> Buscar en toda la tabla</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Clave">
                    </mat-form-field>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="pkstation">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell" readonly> ID </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.pkstation}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="station">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> ESTACIÓN </th>    
                    <td mat-cell *matCellDef="let element"> 
                        {{element.stationName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> PROYECTO </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.fkProject.projectname}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="correctVariable">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> VARIABLE </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.correctVariable}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> UNIT </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.unit}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="contramascaraQty">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> CONTRAMASCARAS QTY </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.contramascaraQty}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> STATUS </th>
                    <td mat-cell *matCellDef="let element">
                      <button type="button" class="btn btn-primary btn-sm" title="Editar" (click)="openStationModal(template, element.pkstation)">
                        <i class="fas fa-edit"></i>
                      </button> &nbsp;
                      <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="openModalDelete(template2,element)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
  </div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{(action == 'save') ? 'Nueva' : 'Editar'}} estación</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" style="padding-top: 23px; padding-right: 23px;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-lg">
      <div class="row justify-content-center mt-2">
        <div class="col-3">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">ID</mat-label>
              <input matInput  [(ngModel)]="idStationEdit" style="font-size: 12pt;" readonly>
            </mat-form-field>
          </p>
        </div>
        <div class="col-4">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">Variable Correcta</mat-label>
              <input matInput [(ngModel)]="correctVariable" style="font-size: 12pt;" >
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div class="col-4">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">Unit</mat-label>
              <input maxlength="4" matInput [(ngModel)]="unit" style="font-size: 12pt;" >
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">Nombre de la estación</mat-label>
              <input matInput [(ngModel)]="stationName" style="font-size: 12pt;" >
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div class="col-5">
          <div class="input-group input-group-lg" style="margin-top: 4px;">
            <div class="input-group-prepend">
                <label class="input-group-text" style="font-size: 12pt">Proyecto:</label>
            </div>
            <select class="custom-select form-control-lg" [(ngModel)]="projectStationEdit" >
                <option *ngFor="let proyectElement of projectsArray" value="{{proyectElement.pkProject}}">{{proyectElement.projectname}}</option>               
            </select>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">Referencia del pallet</mat-label>
              <input matInput [(ngModel)]="referencePallet" style="font-size: 12pt;" type="text">
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div class="col-6">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">Referencia de la contramáscara</mat-label>
              <input matInput [(ngModel)]="referenceContramascara" style="font-size: 12pt;">
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">QTY de contramáscaras</mat-label>
              <input type="number" matInput [(ngModel)]="contramascaraQty" style="font-size: 12pt;">
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div class="col-4">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">IP de la maquina</mat-label>
              <input matInput [(ngModel)]="ipMachine" style="font-size: 12pt;">
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div class="col-3 justify-content-center">
          <mat-label style="font-size: 13pt;">¿Es selectiva?</mat-label><br>
          <mat-checkbox title="Es o no selectiva" [checked]="isSelectiveBox" (change)="changeIsSelective($event)"><span style="margin-top: 19px;" [innerHTML]="(isSelectiveBox) ? 'SI' : 'NO'"></span></mat-checkbox>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11">
          <button (click)="chargeStationChanges()" class="btn btn-success btn-lg btn-block mt-2 mb-2">
            <span class="content"><i class="fas fa-save"></i>&nbsp;&nbsp;{{(action == 'save') ? 'Guardar' : 'Guardar cambios '}}</span>
        </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #template2>
      <div class="modal-body modal-lg">
        <div class="row justify-content-center mt-2">
          <div class="col-11">
            <h3>¿Esta seguro que desea eliminar la estación {{stationToDelete.stationName}}?</h3>
            <p>Recuerde que será permanente y no se podrá revertir</p>
            <div class="row justify-content-end">
              <div class="col-3">
                <button type="button" class="btn btn-outline-danger mt-1" (click)="closeModalDelete()">Cancelar</button>
              </div>
              <div class="col-3 form-group">
                <input type="button" class="btn btn-success btn-lg" id="btnAccept" (click)="deleteStation()" value="Aceptar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
        
