


<div class="mat-elevation-z8 mt-5">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.pkTooling}} </td>
    </ng-container>
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> PROYECTO </th>
      <td mat-cell *matCellDef="let element"> {{element.project.substring(0,element.project.length-1)}} </td>
    </ng-container>
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> SERIAL </th>
      <td mat-cell *matCellDef="let element"> {{element.tooling}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> TIPO </th>
      <td mat-cell *matCellDef="let element"> {{element.fkType.type}} </td>
    </ng-container>
    <ng-container matColumnDef="qtyPasses">
      <th mat-header-cell *matHeaderCellDef  class="center-mat-cell"> PASADAS/RESTANTES </th>
      <td mat-cell *matCellDef="let element"> {{(element.fkType.pktype == 3  || element.fkType.pktype == 5) ? element.actualQty + " / " + (element.mtceQty - element.actualQty) : "NA"}} </td>
    </ng-container>
    <ng-container matColumnDef="qtyMtto">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell">ULTIMO MTTO </th>
      <td mat-cell *matCellDef="let element"> {{(element.lastMtce != null) ? element.lastMtce.replace('T',' ').substring(0,16) : "NA"}} </td>
    </ng-container>
    <ng-container matColumnDef="proxMtto">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> PROXIMO MTTO </th>
      <td mat-cell *matCellDef="let element"> {{(element.nextMtce != null) ? element.nextMtce.replace('T',' ').substring(0,16) : "NA"}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> STATUS </th>
      <td mat-cell *matCellDef="let element"> <span class="badge badge-info" style="padding-top: 5px; font-size: 11pt;" [style.background-color]="element.fkStatus.color">{{element.fkStatus.status}} </span></td>
    </ng-container>
    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef class="center-mat-cell"> ACCIONES </th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" title="Editar" (click)=" openToolingModal(template, element.pkTooling)" [hidden]="element.fkStatus.pkstatus == 9 || element.fkStatus.pkstatus == 10">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-warning btn-sm ml-2" title="Poner en cuarentena" (click)=" changeStatus(template2, element, 10)" [hidden]="element.fkStatus.pkstatus == 9 || element.fkStatus.pkstatus == 10 || !profileAdmin">
          <i class="fas fa-sign-in-alt"></i>
        </button>
        <button type="button" class="btn btn-warning btn-sm ml-2" title="Sacar de cuarentena" (click)=" changeStatus(template2, element, 5)" [hidden]="element.fkStatus.pkstatus != 10 || !profileAdmin">
          <i class="fas fa-sign-out-alt"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm ml-2" title="Poner en scrap" (click)=" scrapTool(template3, element)" [hidden]="element.fkStatus.pkstatus == 9 || !profileAdmin">
          <i class="fas fa-trash"></i>
        </button>
        <button type="button" class="btn btn-dark btn-sm ml-2" title="Ver evidencia de scrap" (click)=" viewScrapEvidence(template4, element)" [hidden]="true || element.fkStatus.pkstatus != 9 || !profileAdmin">
          <i class="fas fa-eye"></i>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  <div class="row justify-content-right" style="width: 100%;">
    <div class="offset-md-8 col-4 mt-n2">
        <mat-form-field>
            <mat-label>Buscar en toda la tabla</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Clave">
        </mat-form-field>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar herramental</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" style="padding-top: 23px; padding-right: 23px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="row justify-content-center mt-2">
      <div class="col-3">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">ID</mat-label>
            <input matInput  [(ngModel)]="idToolingEdit" style="font-size: 12pt;" readonly>
          </mat-form-field>
        </p>
      </div>
      <div class="col-4">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">SERIAL</mat-label>
            <input matInput [(ngModel)]="serialToolingEdit" style="font-size: 12pt;" readonly>
          </mat-form-field>
        </p>
      </div>
      <div class="col-4">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">PROYECTO</mat-label>
            <input matInput [(ngModel)]="projectToolingEdit" style="font-size: 12pt;" readonly>
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">TIPO</mat-label>
            <input matInput [(ngModel)]="typeToolingEdit" style="font-size: 12pt;" readonly>
          </mat-form-field>
        </p>
      </div>
      <div class="col-5">
        <div class="input-group input-group-lg" style="margin-top: 4px;">
          <div class="input-group-prepend">
              <label class="input-group-text" style="font-size: 12pt">STATUS:</label>
          </div>
          <select class="custom-select form-control-lg" [(ngModel)]="statusToolingEdit" disabled>
              <option *ngFor="let statusElement of statusArray" value="{{statusElement.pkstatus}}">{{statusElement.status}}</option>               
          </select>
          
        </div>
        <!-- <small class="" style="font-size: 9pt; color: green;">    Editable</small> -->
        
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">PROX MTTO</mat-label>
            <input matInput [(ngModel)]="mttoToolingEdit" style="font-size: 12pt;" type="text" [readonly]="typeTooling != 2">
            <mat-hint style="font-size: 9pt; color: green;" [hidden]="typeTooling != 2">Editable</mat-hint>
          </mat-form-field>
        </p>
      </div>
      <div class="col-3">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">NOTIFICACIÓN</mat-label>
            <input matInput [(ngModel)]="notificationToolingEdit" style="font-size: 12pt;" type="text" [readonly]="true">
            <mat-hint style="font-size: 9pt; color: green;" [hidden]="true">Editable</mat-hint>
          </mat-form-field>
        </p>
      </div>
      <div class="col-2">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">RACK</mat-label>
            <input matInput [(ngModel)]="rackToolingEdit" style="font-size: 12pt;">
            <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
          </mat-form-field>
        </p>
      </div>
      <div class="col-3">
        <p>
          <mat-form-field appearance="outline">
            <mat-label style="font-size: 14pt;">POSITION</mat-label>
            <input matInput [(ngModel)]="positionToolingEdit" style="font-size: 12pt;">
            <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
          </mat-form-field>
        </p>
      </div>
    </div>
    <div [hidden]="typeTooling == 2">
      <div class="row justify-content-center">
        <div class="col-3">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">PASADAS TOTALES</mat-label>
              <input matInput [(ngModel)]="qtyTotalPasesEdit" style="font-size: 12pt;" readonly>
            </mat-form-field>
          </p>
        </div>
        <div class="col-4">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">PASADAS DESDE MTTO</mat-label>
              <input matInput value="{{qtyCurrentPasesEdit}} pasadas" style="font-size: 12pt;" readonly>
            </mat-form-field>
          </p>
        </div>
        <div class="col-4">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">RESTANTES PARA MTTO</mat-label>
              <input matInput value="{{qtyMttoPassesEdit-qtyCurrentPasesEdit}}" style="font-size: 12pt;" readonly>
            </mat-form-field>
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">VIDA RESTANTE</mat-label>
              <input matInput value="{{qtyLifePasesEdit-qtyTotalPasesEdit}} pasadas" style="font-size: 12pt;" readonly>
            </mat-form-field>
          </p>
        </div>
        <div class="col-6">
          <p>
            <mat-form-field appearance="outline">
              <mat-label style="font-size: 14pt;">PASADAS PARA CADA MTTO</mat-label>
              <input matInput [(ngModel)]="qtyMttoPassesEdit" style="font-size: 12pt;">
              <mat-hint style="font-size: 9pt; color: green;">Editable</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <button (click)="chargeToolingChanges()" class="btn btn-success btn-lg btn-block mt-2">
          <span class="content"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar cambios</span>
      </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-body modal-lg">
    <div class="row justify-content-center mt-2">
      <div class="col-11">
        <h3>¿Esta seguro que desea {{valueInOut}} {{valueStatus}} el herramental?</h3>
        <p>Recuerde que será permanente y no se podrá revertir</p>
        <div class="row justify-content-end">
          <div class="col-3">
            <button type="button" class="btn btn-outline-danger mt-1" (click)="modalRef2.hide()">Cancelar</button>
          </div>
          <div class="col-3 form-group">
            <input type="button" class="btn btn-success btn-lg" id="btnAccept" (click)="saveNewStatus()" value="Aceptar">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>




  
     

<ng-template #template3>
  <div class="modal-body modal-lg">
    <div class="row justify-content-center mt-2">
      <div class="col-11">
        <h3>Para poner en scrap el herramental necesita subir una evidencia</h3>
        <div class="row justify-content-center mt-3">
          <div class="col-12">
            <p>Elija la evidencia (.jpg, .png, .jpeg, .pdf)</p>
            <input (change)="onFileSelected($event)" class="btn btn-secondary" [(ngModel)]="fileScrap" title="Archivo de evidencia" type="file" style="width:100%" name="file" #fileUpload id="fileUpload" name="fileUpload"/><br>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-12">
            <label>Escribe un comentario</label>
            <input class="form-control" type="text" placeholder="Comentario" [(ngModel)]="commentScrap">
          </div>
        </div>
        <div class="row justify-content-end mt-3">
          <div class="col-3 mt-1">
            <button type="button" class="btn btn-outline-danger mt-1 btn-lg btn-block" (click)="modalRef3.hide(); currentfile = null; fileScrap = '';">Cancelar</button>
          </div>
          <div class="col-9">
            <button (click)="uploadFile()" type="submit" class="btn btn-success btn-lg btn-block mt-2">
              <span class="content"><i class="fas fa-save"></i>&nbsp;&nbsp;Scrapear herramenetal</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template4>
  <div class="modal-body modal-lg">
    <div class="row justify-content-center mt-2" align="center">
      <div class="col-11">
        <h3>Evidencia de herramental en scrap</h3>
        <div class="row justify-content-center mt-3">
          <div class="col-12">
            <label>Comentario</label>
            <input class="form-control" type="text" [(ngModel)]="commentScrapShow" readonly>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-12">
            <img class="img-employee ml-3 " src="file:///home/pedrodaniel_saldana/ScrapArmoryRoomEvidence/51_diagrama_factory.png">
            <!-- <img class="img-employee ml-3 " [src]="imgSrcEvidence"> -->
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-5 mt-1">
            <button type="button" class="btn btn-outline-danger mt-1 btn-lg btn-block" (click)="modalRef4.hide();"><span aria-hidden="true">&times;</span>&nbsp;Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
    