table{
    width:100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.center-mat-cell {
    text-align:center;
    font-weight: 600;
}
.btn-toolings{
    font-size: 23pt; 
    width: 65px; 
    height: 65px; 
    margin-top: 60px;
}
.btn-employees{
    font-size: 15pt; 
    width: 45px; 
    height: 45px; 
    margin-top: 0px;
}
/* :host >>> .tooltip-inner {
    background-color: #009688;
    color: #fff;
  }
  :host >>> .tooltip.top .tooltip-arrow:before,
  :host >>> .tooltip.top .tooltip-arrow {
    border-top-color: #009688;
  } */