
<div class="container mb-5">
    <!-- <form focusInvalidInput [formGroup]="form" (ngSubmit)="submit()"> -->
        <div class="row justify-content-around mt-4">
            <div class="col-10">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">PROYECTO:</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="projectSelected" (change)="loadPartnumbers()" id="slProject">
                        <option selected value="0">Elige...</option>
                        <option *ngFor="let project of projects" value="{{project.pkProject}}">{{project.projectname}}</option>
                    </select>
                </div>
            </div>
           
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-4">
                <div id="slPartNumber">
                    <mat-form-field >
                        <mat-label style="font-size: 12pt;">Numeros de parte</mat-label>
                        <mat-select [(ngModel)]="partNumberSelected" multiple>
                        <mat-option [hidden]="partNumbers != undefined && partNumbers.length != 0" value="0.1" selected disabled>No hay opciones...</mat-option>
                        <mat-option [hidden]="partNumbers == undefined || partNumbers.length == 0" value="0" selected disabled>Elige...</mat-option>    
                          <mat-option *ngFor="let partNumber of partNumbers" [value]="partNumber.pkPartnumber">{{partNumber.partnumber}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group form-group">
                    <mat-form-field>
                        <mat-label style="font-size: 12pt;">Estaciones (opcional)</mat-label>
                        <mat-select [(value)]="stationSelected" multiple>
                          <mat-option *ngFor="let station of stations" [value]="station.pkstation">{{station.stationName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row justify-content-around mt-4">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">TIPO:</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="typeSelected" id="slType">
                        <option selected value="0">Elige...</option>
                        <option *ngFor="let type of types" value="{{type.pktype}}">{{type.type}}</option>               
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-5 mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" >SERIAL:</label>
                    </div>
                    <input class="form-control" placeholder="Numero de herramental" [(ngModel)]="serialTooling" id="txtSerialTooling"> 
                </div>
            </div>
            <div class="col-3 mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" >RACK:</label>
                    </div>
                    <input class="form-control" placeholder="Rack (opcional)" [(ngModel)]="rackTooling"> 
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-4 mt-3">
                <div class="input-group" [hidden]="typeSelected == 2 || typeSelected == 0">
                    <div class="input-group-prepend">
                        <label class="input-group-text" >NUMERO DE PASADAS:</label>
                    </div>
                    <input class="form-control" placeholder="Cantidad" type="number" [(ngModel)]="cantPasses" id="txtPasses">
                </div>
                <div class="input-group" [hidden]="typeSelected == 3 || this.typeSelected == 5">
                    <div class="input-group-prepend">
                        <label class="input-group-text" >MTTO CADA:</label>
                    </div>
                    <input class="form-control" placeholder="Cantidad" type="number" [(ngModel)]="cantMaintance" id="txtMaintance">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">semanas</span>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" >POSITION:</label>
                    </div>
                    <input class="form-control" placeholder="Position (opcional)" [(ngModel)]="positionTooling"> 
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-4 mt-1">
                <button (click)="saveTooling()" class="btn btn-success btn-md btn-block mt-2" id="btnSaveTooling" [disabled]="buttonDisabled">
                    <span class="content"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar herramental</span>
                </button>
            </div>
        </div>
    <!-- </form> -->
</div>



